* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #0f3e62;
	text-align: center;
	color: white;	
}

#app-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	flex-direction: row;
}

/* Properties related to the left sidebar */
#menu-container {
	padding: 10px;
	min-width: 300px;
}

#main {
	display: none;
}

#login {
	display: block;
}

select {
	border: 0 !important;
	background-color: #e6e6e6 !important;
}

#menu-container .pure-button {
	width: 100%;
}

#menu-container input, select {
	width: 100%;
}

#baudRateInp {
	display: none;
}

#header {
	position: relative;
	display: inline-block;
}

#logoImg {
	width: auto;
	border: 2px solid;
	border-color: rgba(255, 255, 255, 0.5);
	margin-bottom: 15px;
	-webkit-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}

.logoLoading {
	opacity: 0.3;
}

#loadingIcn {
	position: absolute;
	top: 78px;
	left: 78px;
	z-index: 2;
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}

.loadingVisible {
	opacity: 1  !important;
}

#footer {
}

/* Properties related to the righ window */
#info-container {
	min-width: 250px;	
	display: flex;
	flex-direction: column;
	flex-grow:1;
	background-color: #636363;	
}

#info {
	margin: 5px 10px;
	color: white;
	text-align: left;
	min-height: -webkit-min-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#info > button {
	width: auto;
}

#downloadMsgForm {
	display: none;
}

#enDownloadMsgForm {
}

.infoInput {
	width: 50px;
	text-align: center;
	margin: 0 5px;
	vertical-align: middle;	
}

#terminalbox {
	background-color: #3c3c3c;
	color: white;
	overflow: auto;
	text-align: left;
	flex-grow:1;
}

#terminalbox > ul {
	padding: 0;
	margin: 10px 0;
	list-style-type: none;
}

#terminalbox > ul > li {
	padding: 0 10px;
}

#terminalbox > ul > li:hover {
	background-color: #565656;
}

.errorMsg {
	color: yellow;
}

/* General properties */
.button-large {
	font-size: 110%;
}

.button-success,
.button-error, {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
	background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
	background: rgb(202, 60, 60); /* this is a maroon */
}

a:link {
	color: #95a5a6;
}

a:visited {
	color: #95a5a6;
}

.checkbox {
	width: auto;
	margin:0;
	padding: 0
}

#saveToFileBtn {
	display: none;
}

.fa-middle {
	vertical-align: middle;
}