body {
	background-color: #0f3e62;
	text-align: center;
	padding: 10px;
	color: white;	
}

#header {
}

#logo {
	width: auto;
	border: 2px solid;
	border-color: rgba(255, 255, 255, 0.5);
	margin-bottom: 15px;
}

#footer {
}

#refreshImg {
	width: 65%;
}

.pure-button, input, select {
	width: 100%;
}

.button-large {
	font-size: 110%;
}


.button-success,
.button-error, {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
	background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
	background: rgb(202, 60, 60); /* this is a maroon */
}

a:link {
	color: #95a5a6;
}

a:visited {
	color: #95a5a6;
}

#disconnectBtn {

}

#main {
	display: none;
}

#login {
	display: block;
}