body {
		background-color: #0f3e62;
		color: white;
}

ul {
	list-style-type: none;
}

li:hover {
	background-color: red;
}

#terminal_content {
	background-color: #3c3c3c;
	width: 100%;
	height: 100%;
	margin: 10px;
}

